.category-container {
  margin: 100px 40px;
}

.category-item {
  font-size: 13px;
  outline: solid 0.2px #414141;
  border-radius: 25px;
  padding: 4px 12px;
  margin: 0 5px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  white-space:nowrap;
}

.category-item:hover {
  outline: solid 2px rgb(145, 129, 248);
}

.category-item-selected {
  background-color: white;
  border-radius: 25px;
  font-size: 13px;
  padding: 4px 12px;
  margin: 0 5px;
  font-weight: 700;
  color: black;
  cursor: pointer;
  white-space:nowrap;
}
