ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.movie-list {
  display: flex;
  position: absolute;
}

.movie-item {
  width: 14vw;
  margin-right: 20px;
  border-radius: 8px;
  overflow: hidden;
  border: 2px solid rgba(0, 0, 0, 0);
  cursor: pointer;
}

.movie-item:hover {
  border: solid 2px white;
}

.eleven {
  aspect-ratio: 8/11;
}

.seven {
  aspect-ratio: 8/7;
  width: 20vw;
}

.row-title {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 1.5vw;
}

.movie-poster {
  width: 100%;
}

.movie-containers {
  margin-bottom: 50px;
}

.scroll-button {
  position: absolute;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 4vw;
  border: solid 1px white;
}

.scroll-right {
  right: 0;
}

.scroll-left {
  left: 0;
  text-align:right;
}

.movie-list-container {
  transition: 1s;
}
