.hbo-background {
  position: fixed;
  background: url("../Resources/Images/default-3840x2160.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  width: 100vw;
  height: 100vh;
  overflow:scroll;
}

.weight-600 {
  font-weight: 600;
}

.average-signin-text {
  font-weight: 500;
  font-size: 16px;
}

.signin-top {
  padding-top: 80px;
}

.signin-card {
  font-size: 14px;
  border-radius: 10px;
  overflow: hidden;
  width: 53vw;
  background-color: rgba(221, 221, 221, 0.06);
  padding: 60px;
  margin-bottom:70px;
}

.signin-option {
  border: solid 1px grey;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 52px;
  color: grey;
  font-size: 16px;
}

.margin-bottom-8 {
  margin-bottom: 8px;
}

.signin-button-card-container {
  margin: 35px 0;
}

.signin-button-card {
  background-color: rgba(255, 255, 255, 0.06);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 144px;
  height: 48px;
  margin-right: 35px;
  flex-direction: column;
  font-weight: 600;
}

.flex-dir-col {
  flex-direction: column;
}

.forgot-password {
  font-weight: 600;
  color: rgb(145, 129, 248);
}

.smallish-text {
  font-size: 12px;
  color: rgb(255, 76, 76);
}

.layout-line-container {
  margin-bottom: 35px;
}

.layout-line {
  height: 1px;
  width: 100%;
  background-color: grey;
  margin: auto;
}

.layout-or {
  margin: 0 20px;
}

.view-clone-button {
  height: 48px;
  width: 165px;
  text-align: center;
  background-color: rgba(62, 59, 68, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 700;
  font-size: 15px;
  border-radius: 4px;
  margin-top: 15px;
  margin-bottom: 0px;
  border: solid 2px rgba(0, 0, 0, 0);
}

.view-clone-button:hover {
  background-color: rgba(15, 15, 15, 0.98);
  border: solid 2px rgba(117, 62, 239);
}
